<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Rendezvous 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130707

-->
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Анализатор Экспертных Систем</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/fonts.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
	<script>
        function uploadFile(target) {
            document.getElementById("file-name").innerHTML = target.files[0].name;
            document.getElementById("chosen-file").value = target.files[0].name;
        }
        function validateForm() {
            if (document.getElementById("chosen-file").value == "") {
                alert("Файл не выбран");
                return false;
            }
        }
	</script>
</head>
<body>

<div id="wrapper">
	<div id="header-wrapper">
		<!-- end #menu -->
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Анализатор Экспертных Систем</a></h1>

				<p id="tools">
				<form name="myForm" method="POST" enctype="multipart/form-data" action="/"
					  onsubmit="return validateForm()">
					<label for="help" class="triangle-button" >Справка</label>
					<input type="button" class="inputfile" id="help" onclick="location.href='/';"/>
					<div id="file-name" class ="file-name" th:text="${filename}? ${filename} : 'Файл базы знаний не выбран...'">Файл базы знаний не выбран...</div>
					<label for="file" class="triangle-button">Выбрать</label>
					<input type="file" name="file" id="file" class="inputfile" accept=".xml"
						   onchange="uploadFile(this)"></input>
					<label for="analyze" class="triangle-button">Проверить</label>
					<input type="submit" id="analyze" value="Проанализировать" class="inputfile"/>
					<input type="hidden" id="chosen-file" value="" th:value="${chosenFile}"/>
				</form>
				</p>
			</div>
		</div>
	</div>
	<div id="page" class="container">
		<div id="content" th:if="${errorMessage != null}">
			<div class="title">
				<h2 th:text="${errorMessage}"></h2>
			</div>
		</div>
		<div id="content" th:if="${reports == null and errorMessage == null}">
			<div class="title">
				<h2>Для чего нужен анализатор</h2>
			</div>
			<p> Анализатор Экспертных Систем позволяет обнаружить структурные ошибки в базах знаний
				экспертных систем, основанных на правилах.</p>
			<p> Выявляемые структурные ошибки: дубликаты, незначащие цепочки выввода, избыточные цепочки вывода,
				некорректные правила, циклы, изолированные вершины.</p>
			<div class="title">
				<h2>Как пользоваться анализатором</h2>
			</div>
			<p> На данный момент поддерживаются только базы знаний в формате xml.</p>
			<p>
				<a id="download" href="/files/knowledge_base.xsd"
				   class="triangle-button-internal" download="knowledge_base.xsd">Загрузить xsd</a>
			</p>
			<p> Для работы необходимо выполнить следующие шаги:</p>
			<ol class="style5">
				<li>Выбрать файл с базой знаний, нажав на кнопку "Выбрать файл"</li>
				<li>Для проверки нажать кнопку "Проверить"</li>
				<li>Система выведет на экран отчет о найденных ошибках</li>
			</ol>
		</div>
		<div id="content" th:if="${reports != null}">
			<div class="title">
				<h2>Результаты анализа</h2>
			</div>
			<p> Сведения о найденных структурных ошибках представлены ниже: </p>
			<ul class="style3">
				<li th:each="report,iter : ${reports}">
					<h3 th:text="${report.name}"></h3>
					<p th:text="${report.message}"></p>
					<ul th:if="${report.points != null}" class="report">
						<li th:each="point : ${report.points}" th:text="${point}"></li>
					</ul>
					<h4 th:if="${report.recommendations != null}">Рекомендации</h4>
					<p th:if="${report.recommendations != null}" th:text="${report.recommendations}"></p></li>
			</ul>
		</div>
	</div>
</div>
<div id="copyright">
	<header class="title">
		<span class="byline">Свяжитесь с нами: rinoa_27@mail.ru</span> </header>
	<p>&copy; Анализатор Экспертных Систем. Все права защищены. </p>
</div>
</body>
</html>
